<app-header></app-header>
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center">QUINCES LUJO</h1>
        <div class="ion-text-center">
          <img src="../../../assets/quince_l.jpg" width="600" class="ion-align-items-center"/>
        </div>

        <ion-text color="warning">
          <h4>1. RECEPCIÓN</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Saladitos en mesa durante todo el evento.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>2. BRINDIS</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Sidra Cereser.</li>
            <li>Galletas de hojaldre con almendras.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>3. BOCADITOS</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Tres rondas de bocaditos calientes y una ronda de bocaditos dulces.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>4. BEBIDAS SIN ALCOHOL</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Tres rondas de Cocteles sin alcohol.</li>
            <li>Bar abierto gaseosas, jugos, hielo, agua y limón.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>5. MOBILIARIO</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Mesas con mantelería (mantel blanco, sobre mantel de acuerdo a colores a elección).</li>
            <li>Sillas tiffany (Adornadas con gasa del color elegido).</li>
            <li>Mesa para dulces o chocolate con mantel especial y Mesa de torta con mantel especial.</li>
            <li>Cristalería necesaria para el evento.</li>
            <li>Platillos y cucharillas para torta.</li>
            <li>Ambiente exclusivo para la quinceañera.</li>
            <li>Circuito cerrado de cámaras de seguridad.</li>
            <li>Iluminación decorativa con luces led de color en dry walls.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>6. SONIDOS Y EFECTOS ESPECIALES</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Amplificación con música coordinada con el cliente.</li>
            <li>10 Cabezas led ambientales y control DMX de luces.</li>
            <li>2 cabezas led móviles.</li>
            <li>Laser punta gruesa.</li>
            <li>Bola de discoteca.</li>
            <li>Máquina de humo aromático.</li>
            <li>2 Cañones de fuego.</li>
            <li>Proyector y Pantalla gigante (incluye video de historia de vida).</li>
            <li>Máquina de niebla baja y Pirotecnia fría para el acto central.</li>
            <li>Maestro de ceremonias con protocolo coordinado con el cliente.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>7. PERSONAL</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Coordinadora del evento con ensayos programados con el cliente.</li>
            <li>DJ profesional y Maestro de ceremonias.</li>
            <li>Garzones.</li>
            <li>Seguridad</li>
            <li>Limpieza.</li>
            <li>Recepción.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>8. CONDICIONES</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Una vez confirmada la fecha del evento, la reserva se realiza con un deposito del 50% del valor total del paquete, el saldo final se paga una semana antes del evento.</li>
            <li>El numero definitivo de invitados, menú y otros se confirmará 7 días antes de la fecha del evento.</li>
            <li>Se programará el día de la degustación de la cena y/o bocaditos para la elección de los novios (adicional).</li>
            <li>La cotización total del paquete no incluye arreglos, flores ni torta.</li>
            <li>La duración del evento es de 7-8 horas y la hora limite de finalización es a las 2:00 a.m., o según ordenanza municipal.</li>
            <li>Se pone a disposición los ambientes del salón para los ensayos.</li>
            <li>La garantía es de 500 Bs. (reposición de cristalería, vajilla, mantelería u otros, se realizará al día siguiente al evento).</li>
            <li>Medidas de seguridad: Todos los proveedores cuentan con todas las medidas de seguridad y desinfección tanto de mobiliario como de todo lo que se usará el día del evento. La comida se servirá con todos las medidas de bioseguridad.</li>
          </ul>
        </ion-text>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
