<ion-header [translucent]="true" side="start">
  <ion-toolbar>
    <ion-title>ARES</ion-title>
    <ion-button slot="end" (click)="toggleMenu()" color="warning">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>




<!--<ion-header [translucent]="true" side="start">-->
<!--  <ion-toolbar color="dark">-->

<!--    <ion-title>PETS-APP</ion-title>-->

<!--    <ion-button slot="start" (click)="toggleMenu()" color="secondary">-->
<!--      <ion-icon name="menu-outline"></ion-icon>-->
<!--    </ion-button>-->

<!--  </ion-toolbar>-->
<!--</ion-header>-->
