<app-header></app-header>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center">BOCADITOS</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/banderilla.jpg"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Banderillas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/brocheta.jpg"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Brochetas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/empanada.jpg" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Empanaditas de carne</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/hamburguesa.jpg" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Mini Hamburguesas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/hotdog.jpg" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Mini Hot Dogs</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/muslito.jpg" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Muslitos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/panuelo.jpg" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Pañuelitos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="../../../assets/bocaditos/pavita.jpg" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Mini Pavitas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
