<ion-header>
  <ion-toolbar>
    <ion-title>quinces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/home" color="warning" shape="round">
          Home
        </ion-button>
      </ion-col>

      <ion-col size="8" size-sm>
        <ion-button routerLink="/home" color="warning" shape="round">
          Home2
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button routerLink="/home" color="warning" shape="round">
          Home3
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <h1 class="ion-text-center">Bodas</h1>

        <ion-card class="ion-text-center">
          <img src="./assets/bodas1.jpg" width="600"/>
          <ion-card-header>
            <ion-card-title>Bodas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-card class="ion-text-center">
    <img src="./assets/bodas1.jpg" width="600"/>
    <ion-card-header>
      <ion-card-title>Bodas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <div id="container">


  </div>

</ion-content>
