<ion-header>
  <ion-toolbar>
    <ion-title>Quinces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/home" color="warning" shape="round">
          Home
        </ion-button>
      </ion-col>

    </ion-row>


  </ion-grid>




<!--        <ion-grid>-->
<!--        <ion-row class="ion-justify-content-center">-->
<!--          <ion-col size="12" size-md>-->

  <ion-card>
    <div class="ion-text-center">
      <img src="./assets/blue8.jpg" width="600" class="ion-align-items-center"/>
    </div>

    <ion-card-header>
      <ion-card-title class="ion-text-center">15 AÑOS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-xs size="10">

          <ion-text color="warning">
            <h2>1. RECEPCIÓN</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Dos rondas de saladitos en mesa.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h2>2. BRINDIS</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Cidra Cereser.</li>
              <li>Galletas hojaldre.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h2>3. BOCADITOS</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Tres rondas de bocaditos a elección del cliente.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h2>4. BEBIDAS SIN ALCOHOL</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Dos rondas de trago corto sin alcohol.</li>
              <li>Bar abierto de gaseosas, jugos, hielo y agua.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h2>5. MOBILIARIO</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Mesas con mantelería (mantel blanco, sobre mantel de acuerdo a colores a elección).</li>
              <li>Sillas Tiffany (adornadas con gasa del color elegido).</li>
              <li>Mesa de quinceañera</li>
              <li>Mesa de torta</li>
              <li>Cristalería necesaria para el evento</li>
              <li>Ambiente exclusivo para la quinceañera</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h2>6. SONIDO Y EFECTOS ESPECIALES</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Sonido envolvente de alta fidelidad y potencia.</li>
              <li>10 cabezas led ambientales y control DMX de luces.</li>
              <li>Láser punta gruesa</li>
              <li>Bola de discoteca</li>
              <li>Máquina de humo aromático</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h2>7. PERSONAL</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Coordinadora del evento.</li>
              <li>DJ profesional y Maestro de ceremonias.</li>
              <li>Garzones.</li>
              <li>Seguridad</li>
              <li>Limpieza.</li>
              <li>Recepción.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h2>8. CONDICIONES</h2>
          </ion-text>
          <ion-text>
            <ul>
              <li>Una vez confirmada la fecha del evento, la reserva se realiza con un depósito del 50% del valor total del paquete</li>
              <li>El número definitivo de invitados, menú y otros se confirmará 7 días antes de la fecha del evento.</li>
            </ul>
          </ion-text>

        </ion-col>
      </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

<!--                    </ion-col>-->
<!--                  </ion-row>-->
<!--                  </ion-grid>-->

  <div id="container">


  </div>
</ion-content>
