<app-header></app-header>

<ion-content padding class="background">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center">PRECIOS DE SALÓN</h1>
        <ion-text>
          <ul>
            <li>Mesas con mantelería (mantel blanco, sobre mantel de acuerdo a colores a elección).</li>
            <br>
            <li>Sillas tiffany (Adornadas con gasa del color elegido).</li>
            <br>
            <li>Cristalería necesaria para el evento.</li>
            <br>
            <li>Iluminación decorativa con luces led de color en dry walls.</li>
          </ul>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-text class="ion-text-center">
          <p>50 pers.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>60 pers.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>70 pers.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>80 pers.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>100 pers.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>120 pers.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>130 pers.</p>
        </ion-text>

      </ion-col>

      <ion-col size="6">
        <ion-text class="ion-text-center">
          <p>1750 Bs.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>2000 Bs.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>2250 Bs.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>2500 Bs.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>3000 Bs.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>3500 Bs.</p>
        </ion-text>
        <ion-text class="ion-text-center">
          <p>3750 Bs.</p>
        </ion-text>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
