<app-header></app-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center">FIESTAS</h1>
        <div class="ion-text-center">
          <img src="../../../assets/fiesta_n.jpg" width="600" class="ion-align-items-center"/>
        </div>

        <ion-text color="warning">
          <h4>1. RECEPCIÓN</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Tres rondas saladitos en mesa.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>2. BRINDIS</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Sidra.</li>
            <li>Galletas de champagne.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>3. CENA</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Plato servido con 2 carnes (pollo, res o cerdo) y 3 guarniciones a elección del cliente.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>4. BEBIDAS</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Dos botellas  por mesa de 10 personas, a elegir:</li>
            <ul>
              <li>Ron Flor de Caña 5 años, Abuelo Añejo, Carta vieja de 1 litro.</li>
              <li>Fernet Branca 750 ml.</li>
              <li>Singani Casa Real Etiqueta negra 750 ml.</li>
            </ul>
            <li>Bar abierto de gaseosas, hielos, agua y limón.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>5. MOBILIARIO</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Mesas con mantelería (mantel blanco, sobre mantel de acuerdo a colores a elección).</li>
            <li>Sillas tiffany (Adornadas con gasa del color elegido).</li>
            <li>Mesa de torta con mantelería especial.</li>
            <li>Cristalería necesaria para el evento.</li>
            <li>Vajilla y cubertería necesaria para el evento.</li>
            <li>Ambiente de descanso exclusivo para los novios.</li>
            <li>Circuito cerrado de cámaras de seguridad.</li>
            <li>Iluminación decorativa con luces led de color en dry walls.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>6. SONIDOS Y EFECTOS ESPECIALES</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Amplificación con música coordinada con el cliente.</li>
            <li>Cabezas led de color ambientales.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>7. PERSONAL</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Garzones.</li>
            <li>Seguridad</li>
            <li>Limpieza.</li>
            <li>Recepción.</li>
          </ul>
        </ion-text>

        <ion-text color="warning">
          <h4>8. CONDICIONES</h4>
        </ion-text>
        <ion-text>
          <ul>
            <li>Una vez confirmada la fecha del evento, la reserva se realiza con un deposito del 50% del valor total del paquete, el saldo final se paga una semana antes del evento.</li>
            <li>El numero definitivo de invitados, menú y otros se confirmará 7 días antes de la fecha del evento.</li>
            <li>Se programará el día de la degustación de la cena y/o bocaditos para la elección de los novios (adicional).</li>
            <li>La cotización total del paquete no incluye arreglos, flores ni torta.</li>
            <li>La duración del evento es de 7-8 horas y la hora limite de finalización es a las 2:00 a.m., o según ordenanza municipal.</li>
            <li>Se pone a disposición los ambientes del salón para los ensayos.</li>
            <li>La garantía es de 500 Bs. (reposición de cristalería, vajilla, mantelería u otros, se realizará al día siguiente al evento).</li>
            <li>Medidas de seguridad: Todos los proveedores cuentan con todas las medidas de seguridad y desinfección tanto de mobiliario como de todo lo que se usará el día del evento. La comida se servirá con todos las medidas de bioseguridad.</li>
          </ul>
        </ion-text>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
