<ion-header>
  <ion-toolbar>
    <ion-title>Bodas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button routerLink="/home" shape="round">
          <ion-icon name="home-sharp"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button routerLink="/quinces" shape="round">15 años</ion-button>
      </ion-col>

      <ion-col>
        <ion-button routerLink="/fiestas" shape="round">
          Fiestas
        </ion-button>
      </ion-col>

    </ion-row>


    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center">BODAS</h1>
          <div class="ion-text-center">
            <img src="./assets/boda.jpeg" width="600" class="ion-align-items-center"/>
          </div>

          <ion-text color="warning">
            <h4>1. RECEPCIÓN</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Dos rondas de saladitos en mesa.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h4>2. BRINDIS</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Cidra Cereser.</li>
              <li>Galletas hojaldre.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h4>3. CENA</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Plato servido con 2 carnes (pollo, res o cerdo) y 3 guarniciones a elección del cliente.</li>
              <li>Vino tinto o coctel con fruta de temporada.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h4>4. BEBIDAS</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Dos botellas por mesa de 10 personas, a elegir.</li>
              <ul>
                <li>Ron Flor de Caña 5 años, Abuelo Añejo, Carta vieja de 1 litro.</li>
                <li>Fernet Branca 750 ml.</li>
                <li>Singani Casa Real Etiqueta negra 750 ml.</li>
              </ul>
              <li>Bar abierto de gaseosas, hielos, agua y limón.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h4>5. MOBILIARIO</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Mesas con mantelería (mantel blanco, sobre mantel de acuerdo a colores a elección).</li>
              <li>Sillas Tiffany (adornadas con gasa del color elegido).</li>
              <li>Mesa de novios con una botella de bebida elegida y Mesa de torta</li>
              <li>Cristalería necesaria para el evento</li>
              <li>Vajilla y cubetería necesaria para el evento</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h4>6. SONIDOS Y EFECTOS ESPECIALES</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Sonido envolvente de alta fidelidad y potencia.</li>
              <li>4 cabezas led ambientales y control DMX de luces.</li>
              <li>Láser punta gruesa</li>
              <li>Máquina de humo aromático</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h4>7. PERSONAL</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Coordinadora del evento.</li>
              <li>DJ profesional y Maestro de ceremonias.</li>
              <li>Garzones.</li>
              <li>Seguridad</li>
              <li>Limpieza.</li>
              <li>Recepción.</li>
            </ul>
          </ion-text>

          <ion-text color="warning">
            <h4>8. CONDICIONES</h4>
          </ion-text>
          <ion-text>
            <ul>
              <li>Una vez confirmada la fecha del evento, la reserva se realiza con un depósito del 50% del valor total del paquete</li>
              <li>El número definitivo de invitados, menú y otros se confirmará 7 días antes de la fecha del evento.</li>
            </ul>
          </ion-text>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
