<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Salón de Eventos ARES</ion-title>
    <ion-buttons>
      <ion-back-button text="Atras">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--<app-header></app-header>-->

<ion-content padding class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="ion-text-center">
      <img src="./assets/logopng.png" width="600" class="ion-align-items-center"/>
    </div>
    <br>
    <ion-button class="btn1" shape="round" size="large" expand="block" routerLink="/bodas">Bodas</ion-button>
    <br>
    <ion-button class="btn2" shape="round" size="large" expand="block" routerLink="/quinces">15 años</ion-button>
    <br>
    <ion-button class="btn1" shape="round" size="large" expand="block" routerLink="/fiestas">Fiestas</ion-button>
  </div>


</ion-content>
